{{ form_start(formPlaylist) }}
<div class="row">
    <div class="col">             
        <div class="row">
            <div class="col-auto">
                {{ form_row(formPlaylist.name) }}                                                  
            </div>
            <div class="col">
                {{ form_row(formPlaylist.description) }}
            </div> 
            <div class="row">
                <div class="col text-start">
                    {{ form_row(formPlaylist.submit) }}
                </div>
            </div>
        </div><br/>
        {% if (is_edit) %}
            <table class="table table-striped">
                <caption>Liste des formations</caption>
                <thead>
                    <tr>
                <br /><th class="text-left align-top" scope="col">
                    formation<br />         
                </th>
                <th class="text-left align-top" scope="col">
                    playlist<br />      
                </th>
                <th class="text-left align-top" scope="col">
                    catégories     
                </th>
                <th class="text-center align-top" scope="col">
                    date<br />                    
                </th> 
                </tr>
                </thead>
                <tbody>
                    {% for formation in formations %}
                        <tr class="align-middle">
                            <td>
                                <h5 class="text-info">
                                    {{ formation.title }}
                                </h5>
                            </td>
                            <td class="text-left">
                                {{ formation.playlist.name }}                  
                            </td>                    
                            <td class="text-left">
                                {% for categorie in formation.categories %}
                                    {{ categorie.name }}<br />
                                {% endfor %}
                            </td>                    
                            <td class="text-center">
                                {{ formation.publishedatstring }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
</div>          
{{ form_end(formPlaylist) }}
